<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="D:\home\Python\python.exe"
                  arguments="-m gunicorn civicblogs.wsgi:application --bind 0.0.0.0:%HTTP_PLATFORM_PORT% --workers 2"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\python.log"
                  startupTimeLimit="120"
                  processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot"/>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%"/>
        <environmentVariable name="DEBUG" value="False"/>
        <environmentVariable name="USE_POSTGRES" value="True"/>
        <environmentVariable name="USE_AZURE_STORAGE" value="True"/>
        <environmentVariable name="DJANGO_SETTINGS_MODULE" value="civicblogs.settings"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>